/**
* 定义样式 重置 UI框架的样式 或 浏览器默认样式
* create by ZC 2018/07/16
*/
@import "~styles/theme.scss";

html, body {
  width: 100%;
  height: 100%;
  line-height: 14px !important;
  color: $default-word-color;
  font-size: 14px;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* 讲默认样式优先级调高 */
.x-app-container {
  ::-webkit-input-placeholder { /* WebKit browsers */
    color: #ccc;
  }

  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
  }

  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ccc;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    -webkit-tap-highlight-color: transparent;
  }

  ol, ul, dl {
    margin: 0;
    list-style: none;
  }

  strong, em, i, h1, h2, h3 {
    margin: 0;
    padding: 0;
    color: inherit;
    font-style: normal;
    font-size: 1em;
    font-weight: normal;
  }

  a {
    color: inherit;
    list-style: none;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    &:focus {
      text-decoration: none;
    }
  }

  img {
    border: 0;
    vertical-align: middle;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  input, button, select, textarea {
    font-size: inherit;
    outline: none
  }

  textarea {
    resize: none;
    border: none
  }
}

// 覆盖进度条样式
#nprogress .bar {
  z-index: 1031;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: $theme;
}

#nprogress .peg {
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #95e2ff, 0 0 5px $theme !important;
}