$theme: #4d97f5; // 主题色
$border: #d4d4d4; // 边框颜色
$default-word-color: #666; // 普通文字默认颜色
$default-white-color: #fff; // 普通文字默认颜色
$default-border-radius: 3px; // 默认圆弧
$default-top-bottom-padding: 10px; // 默认上下边距
$default-left-right-padding: 13px; // 默认左右边距