@import "~styles/theme.scss";
.x-nav-container {
  width: 200px;
  .x-menu-box {
    .iconfont +.x-menu-name {
      margin-left: 16px;
    }
    .x-nav-menu {
      display: inline-block;
      padding: 10px 0;
      color: $default-word-color
    }
    .x-submenu-box {
      .x-menu-name {
        margin-left: 33px;
      }
    }
    .selected {
      color: $theme;
    }
  }
}